<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
          asp-fallback-href="~/lib/font-awesome/css/all.min.css"
          asp-fallback-test-class="fa"
          asp-fallback-test-property="display"
          asp-fallback-test-value="inline-block"
          asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/Styles/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>Demo Application</h1>
    </header>
    <main>
        <div>
            @RenderBody()
        </div>
    </main>
    <footer>
        Copyright &copy; @DateTime.Today.Year - built using ASP.NET Core
    </footer>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery"
            asp-append-version="true"></script>
    <script type="text/javascript" src="~/Scripts/Site.js" asp-append-version="true"></script>
</body>
</html>