@page
@model StatsFrom.Web.Pages.CODModel
@{
    ViewData["Title"] = "COD";
}

<h1 style="color:#FFF">COD</h1>
<form method="post">
    @Html.EditorFor(x => x.player)
    <input type="submit" value="Odeslat" />
    @Html.EditorFor(x => x.Data)
</form>

